@import "../vendor/bootswatch/slate/bootstrap.css";
@import "../vendor/bootswatch/slate/variables.less";

.secondary-menu {
  margin-top: 0; //we don't want double margin
}

//sticky footer tricks
html, body {
  height: 100%; //should take entire viewport
}

.container-main {
  min-height: 100%;
  height: auto !important;
  height: 100%;

  margin: 0 auto -@navbar-height;

  > .push {
    height: @navbar-height;
  }
}

.sticky-footer {
  height: @navbar-height;
  margin: 0; //why because it is sticky!
}


//all recipes list
.label-rubric {
  margin-right: 5px; //add separator
  cursor: pointer; //reacts on click

  &:last-child {
    margin-right: 0; //not for the last one.
  }
}

.label-category {
  cursor: pointer; //reacts on click
}


//recipe item
.product-select {
  &.ui-select-bootstrap .ui-select-choices-row>a {
    color: inherit;
  }
}
