<div class=="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Название</th>
          <th>Действия</th>
          <th>Активно</th>
          <th>Единица измерения</th>
          <th>Номер</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in list">
          <td>
            <a ui-sref="{{ctrl.data.root}}.item({id: item.id})">{{item.caption}}</a>
            <div class="text-muted">{{item.description}}</div>
          </td>
          <td>
              <button type="button" class="btn btn-sm btn-danger" title="Удалить" ng-click="ctrl.remove(item.id)"><fa icon="trash"/></button>
            <button type="button" class="btn btn-sm btn-warning" title="Деактивировать" ng-click="ctrl.toggle(item.id)" ng-show="item.active"><fa icon="ban"/></button>
            <button type="button" class="btn btn-sm btn-success" title="Активировать" ng-click="ctrl.toggle(item.id)" ng-show="!item.active"><fa icon="check"/></button>
          </td>
          <td>{{item.active ? 'Да': 'Нет'}}</td>
          <td>{{item.unit.caption}} ({{item.unit.abbreviation}}): {{item.unit.multiplier}}</td>
          <td>{{item.order}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <form class="form-inline" ng-submit="ctrl.save()">
              <button type="submit" class="btn btn-success" title="Добавить"><fa icon="plus"/></button>
              <input type="text" class="form-control" id="caption" placeholder="Название" ng-model="item.caption" required>
              <select id="unit" ng-model="item.unit" ng-options="unit.caption for unit in units track by unit.id"></select>

            </form>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
