<div class=="row">
  <div class="col-sm-10 col-sm-offset-1">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Название</th>
          <th>Действия</th>
          <th>Активно</th>
          <th>Аббревиатура</th>
          <th>Множитель</th>
          <th>Номер</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in list">
          <td>
            <a ui-sref="{{ctrl.data.root}}.item({id: item.id})">{{item.caption}}</a>
          </td>
          <td actions>
          </td>
          <td>{{item.active ? 'Да': 'Нет'}}</td>
          <td>{{item.abbreviation}}</td>
          <td>{{item.multiplier}}</td>
          <td>{{item.order}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <form class="form-inline" ng-submit="ctrl.save()">
              <button type="submit" class="btn btn-success" title="Добавить"><fa icon="plus"/></button>
              <input type="text" class="form-control" id="caption" placeholder="Название" ng-model="item.caption" required>
              <input type="text" class="form-control" id="caption" placeholder="Сокращение" ng-model="item.abbreviation" required>
              <input type="number" class="form-control" id="caption" placeholder="Множитель" ng-model="item.multiplier" step="any">

            </form>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
