<ol class="breadcrumb">
  <li><a ui-sref="{{ctrl.data.root}}.list">{{ctrl.data.title}}</a></li>
  <li class="active">{{ctrl.title}}</li>
</ol>

<form class="form-horizontal" ng-submit="ctrl.save()">
  <div class="form-group">
    <label for="caption" class="col-sm-2 control-label">Название</label>
    <div class="col-sm-8">
      <input type="text" id="caption" name="caption" class="form-control" placeholder="Название" required ng-model="item.caption">
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Способ приготовления</label>
    <div class="col-sm-8">
      <div text-angular ng-model="item.content" id="content" ng-required></div>
    </div>
  </div>
  <div class="form-group">
    <label for="images" class="col-sm-2 control-label">Картинки</label>
    <div class="col-sm-8">
      <div ng-if="ctrl.isNew" class="text-muted well well-sm">Картинки можно будет загрузить после сохранения</div>
      <div ng-if="!ctrl.isNew">
        <div ng-if="item" class="col-sm-2 well" nv-file-over nv-file-drop uploader="uploader"> Перетащите файлы для загрузки или

          <div>
            <input type="file" nv-file-select uploader="uploader" multiple/>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="media thumbnail" ng-repeat="img in item.images">
            <div class="media-left">
              <a href="{{img.src}}" target="_blank">
                <img class="img-preview media-object" ng-src="{{img.src}}"/>
              </a>

            </div>
            <div class="media-body">
              <input type="text" ng-model="img.caption" class="form-control" placeholder="Описание картинки">
              <button type="button" class="btn btn-danger" ng-click="ctrl.removeImage(img)"><fa icon="trash"/></button>
              <label class="btn" ng-class="{'btn-info':item.mainImg===img.name}"><input type="radio" name="image_main" ng-model="item.mainImg" value="{{img.name}}"> Главная</label>
            </div>
            <div class="media-right">
              <span class="media-caption">{{img.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="portionWeight" class="col-sm-2 control-label">Граммов на порцию</label>
    <div class="col-sm-4">
      <input type="number" step="1" id="portionWeight" name="portionWeight" class="form-control" placeholder="Вес порции" required ng-model="item.portionWeight">
      Порций в рецепте: {{item.portions}} / Суммарный вес: {{item.weight}} / Калорий на порцию: {{item.caloriesPerPortion}}
    </div>
    <label for="publications" class="col-sm-2 control-label">Публикаций <span class="badge">{{item.publications}}</span> <button type="button" class="btn btn-sm btn-success" ng-click="item.publications = item.publications + 1"><fa icon="plus"/></button> <button type="button" class="btn btn-sm btn-danger" ng-click="item.publications = item.publications - 1" ng-show="item.publications > 0"><fa icon="minus"/></button>
    </label>

  </div>
  <div class="form-group">
    <label for="category" class="col-sm-2 control-label">Категория</label>
    <div class="btn-group col-sm-8">
      <label class="btn" ng-repeat="category in categories track by category.id"
          ng-class="{'btn-info':category.id===item.category.id}">
        <input type="radio" value="{{category.id}}" name="category" ng-model="$parent.categoryId">{{category.caption}}
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="rubric" class="col-sm-2 control-label">Рубрики</label>
    <div class="btn-group col-sm-8">
      <label class="btn" ng-repeat="rubric in rubrics track by rubric.id"
          ng-class="{'btn-info':ctrl.isSelected(rubric)}">
        <input type="checkbox" value="{{rubric.id}}" name="category" ng-model="$parent.selectedRubrics[rubric.id]">{{rubric.caption}}
      </label>
    </div>
  </div>
    <div class="form-group">
    <label for="tags" class="col-sm-2 control-label">Ярлыки</label>
    <div class="btn-group col-sm-8">
      <label class="btn" ng-repeat="tag in tags track by tag.id"
          ng-class="{'btn-info':ctrl.isTagSelected(tag)}">
        <input type="checkbox" value="{{tag.id}}" ng-model="$parent.selectedTags[tag.id]">{{tag.caption}}
      </label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3 col-sm-offset-2">
      <label>
        <input type="checkbox" ng-model="item.isCalculationMagic"> Автомагический расчет
      </label>
    </div>
    <div class="col-sm-2">
      <label for="calories" class="control-label">Калорийность</label>
    </div>
    <div class="col-sm-1">
      <label for="fats" class="control-label">Жиры</label>
    </div>
    <div class="col-sm-1">
      <label for="proteins" class="control-label">Белки</label>
    </div>
    <div class="col-sm-1">
      <label for="carbs" class="control-label">Углеводы</label>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-3 col-sm-offset-2">
      <span class="pull-right">На 100 г. готового продукта:</span>
    </div>
    <div class="col-sm-2">
      <input type="number" step="any" id="calories" name="calories" class="form-control" placeholder="Калорийность" required ng-model="item.calories" ng-hide="item.isCalculationMagic">
      <span ng-bind="item.calories" ng-show="item.isCalculationMagic"></span>
    </div>
    <div class="col-sm-1">
      <input type="number" step="any" id="fats" name="fats" class="form-control" placeholder="Ж" ng-model="item.fats" ng-hide="item.isCalculationMagic">
      <span ng-bind="item.fats" ng-show="item.isCalculationMagic"></span>
    </div>
    <div class="col-sm-1">
      <input type="number" step="any" id="proteins" name="proteins" class="form-control" placeholder="Б" ng-model="item.proteins" ng-hide="item.isCalculationMagic">
      <span ng-bind="item.proteins" ng-show="item.isCalculationMagic"></span>
    </div>
    <div class="col-sm-1">
      <input type="number" step="any" id="carbs" name="carbs" class="form-control" placeholder="У" ng-model="item.carbs" ng-hide="item.isCalculationMagic">
      <span ng-bind="item.carbs" ng-show="item.isCalculationMagic"></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Продукт</th>
            <th>Действия</th>
            <th>Количество</th>
            <th>Текст</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ingredient in item.ingredients">
            <td>{{ingredient.caption}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.removeIngredient($index)" title="Убрать ингердиент"><fa icon="trash"/></button>
              <button type="button" class="btn btn-warning btn-sm" ng-click="ctrl.recalculateIngredientText($index)" title="Обновить количество прописью"><fa icon="eraser"/></button>
              <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.moveIngredientUp($index)" title="Вверх" ng-if="!$first"><fa icon="arrow-up"/></button>
              <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.moveIngredientDown($index)" title="Вниз" ng-if="!$last"><fa icon="arrow-down"/></button>
            </td>
            <td><input type="number" class="form-control" placeholder="Количество" ng-model="ingredient.val"></td>
            <td><input type="text" class="form-control" placeholder="Количество прописью" ng-model="ingredient.txt"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <div class="row">
                <div class="col-xs-4">
                  <ui-select ng-model="ingredient.product" class="product-select" theme="bootstrap" reset-search-input="true">
                    <ui-select-match placeholder="Поиск продукта">{{$select.selected.caption}}</ui-select-match>
        <ui-select-choices group-by="ctrl.groupProducts" repeat="product in products| filter: $select.search| orderBy: 'caption'">
          <div ng-bind-html="product.caption | highlight: $select.search"></div>
        </ui-select-choices>
                  </ui-select>
                </div>
                <div class="col-xs-8 form-inline">

                  <div class="input-group"><input type="number" class="form-control" placeholder="Количество" ng-model="ingredient.val" ng-keypress="$event.which===13&&(ctrl.addIngredient()||$event.preventDefault())"><span class="input-group-addon">г.</span>
                  </div>
                  <button type="button" class="btn btn-success" title="Добавить" ng-click="ctrl.addIngredient()"><fa icon="plus"/> Добавить</button>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-6">
      <div class="bth-group pull-right">
        <button type="submit" class="btn btn-success" ng-if="ctrl.isNew"><fa icon="plus"/> Создать</button>
        <button type="submit" class="btn btn-success" ng-if="!ctrl.isNew"><fa icon="save"/> Сохранить</button>
        <button type="button" class="btn btn-danger" ng-if="!ctrl.isNew" ng-click="ctrl.remove()"><fa icon="trash"/> Удалить</button>

        <button type="button" class="btn btn-link" ng-click="ctrl.list()">Отмена</button>
      </div>
    </div>
  </div>
</form>
