<ol class="breadcrumb">
  <li class="active">{{::ctrl.data.title}}</li>
</ol>
<div class="row">
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="rubric in rubrics" ng-class="{active: rubric.id===currentRubric}">
        <a ng-click="ctrl.selectRubric(rubric.id)" href="javascript: void 0;">{{::rubric.caption}}</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-4">
        <a class="btn btn-success" ui-sref="recipies.new">Добавить</a>
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        <div class="input-group pull-right">
          <input type="search" placeholder="Найти" class="form-control" ng-model="search" ng-model-options="{debounce: 500}">
          <span class="input-group-addon"><fa icon="search"/></span>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Название</th>
          <th>Действия</th>
          <th>Калорийность</th>
          <th>Рецепт</th>
          <th>Категория</th>
          <th>Рубрики</th>
          <th>История</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td>
            <a ui-sref="{{ctrl.data.root}}.item({id: item.id})">{{::item.caption}}</a>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-danger" ng-click="ctrl.remove(item.id)"><fa icon="trash"/></button>
            <button type="button" class="btn btn-sm btn-warning" title="Деактивировать" ng-click="ctrl.toggle(item.id)" ng-show="item.active"><fa icon="ban"/></button>
            <button type="button" class="btn btn-sm btn-success" title="Активировать" ng-click="ctrl.toggle(item.id)" ng-show="!item.active"><fa icon="check"/></button>
          </td>
          <td>{{item.calories}}
            <div class="text-muted small" ng-if="item.fats || item.proteins ||item.carbs">ЖБУ: {{::item.fats}} : {{::item.proteins}} : {{::item.carbs}}</div>
            <div class="small text-muted">Порций: {{::item.portions}}</div>
          </td>
          <td>{{::item.content|limitTo:100}}...</td>
          <td><span class="label label-info label-category" ng-click="ctrl.selectCategory(item.category.id)">{{::item.category.caption}}</span></td>
          <td>
            <span class="label label-primary label-rubric" ng-repeat="rubric in item.rubrics" ng-click="ctrl.selectRubric(rubric.id)"> {{::rubric.caption}} </span>
          </td>
          <td>
            <div class="small text-muted" ng-if="item.lastModifiedAt">
              {{::item.lastModifiedAt | date: 'dd.MM.yyyy HH:mm'}}
            </div>
          </td>
        </tr>
      </tbody>
      <tbody ng-if="!items.length">
        <tr>
          <td colspan="7">Нет записей</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7">
            <ul class="pagination" style="margin: 0;">
              <li ng-class="{disabled: page===1}">
                <a ng-click="ctrl.prev()" href="javascript: void 0;">&laquo;</a>
              </li>
              <li ng-repeat="current in pageList" ng-class="{active: current===page}">
                <a ng-click="ctrl.goto(current)" href="javascript: void 0;">{{current}}</a>
              </li>
              <li ng-class="{disabled: page===pageList.length}">
                <a ng-click="ctrl.next()" href="javascript: void 0;">&raquo;</a>
              </li>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>


  </div>
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="category in categories" ng-class="{active: category.id===currentCategory}">
        <a ng-click="ctrl.selectCategory(category.id)" href="javascript: void 0;">{{category.caption}}</a>
      </li>
    </ul>
  </div>
</div>
